::selection {
  background-color: coral; /* Đây là một màu ví dụ, bạn có thể thay đổi thành màu mong muốn */
  color: #ffffff; /* Màu chữ khi bôi đen văn bản */
}
.App {
  text-align: center;
  /* &::before {
    content: "";
    display: block;
    position: fixed;
    width: 300%;
    height: 100%;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    background-color: #f6c90e;
    z-index: -2;
    animation: waveAnimation 10s ease-in-out infinite;
  } */
}
.ant-notification-notice{
  background-color: #9ed7a8;
  border-radius: 10px;
  width: 300px !important;
}
.ant-notification-notice-message {
  color: white !important;
  font-weight: 600;
}
.react-loading-skeleton {
  margin-left: 30%;
  height: 450px;
  width: 50% !important;
}

/* HTML: <div class="loader"></div> */
.loader2,
.loader2:before,
.loader2:after{
  width: 25px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px inset #12b1d1;
  position: relative;
  animation: l6 1.5s infinite 0.5s;
}
.loader2:before,
.loader2:after{
  content: "";
  position: absolute;
  left: calc(100% + 5px);
  animation-delay: 1s;
}
.loader2:after{
  left: -30px;
  animation-delay: 0s;
}
@keyframes l6 {
  0%,55%,100%  {border-radius:0  }
  20%,30%      {border-radius:50%}
}